 <div class="container">
        <div class="first-window"></div>
        <div class="second-window">
            <div class="cover" data-book-id="1" data-title="Equal_Rites">
                <img src="https://upload.wikimedia.org/wikipedia/en/c/ca/EqR.cover.jpg" alt="Equal Rites">
            </div>
            <div class="cover" data-book-id="2" data-title="Wyrd_Sisters">
                <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Wyrd-sisters-cover.jpg" alt="Wyrd_Sisters">
            </div>
            <div class="cover" data-book-id="3" data-title="Witches_Abroad">
                <img src="https://upload.wikimedia.org/wikipedia/en/7/71/Witches-abroad-cover.jpg" alt="Witches Abroad">
            </div>
            <div class="cover" data-book-id="4" data-title="Lords_and_Ladies_(novel)">
                <img src="https://upload.wikimedia.org/wikipedia/en/a/a6/Lords-and-ladies-cover.jpg" alt="Equal Rites">
            </div>
            <div class="cover" data-book-id="5" data-title="Maskerade">
                <img src="https://upload.wikimedia.org/wikipedia/en/2/2e/Maskerade.jpg" alt="Equal Rites">
            </div>
            <div class="cover" data-book-id="6" data-title="Carpe_Jugulum">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/6c/Carpe-jugulum-1.jpg" alt="Equal Rites">
            </div>
        </div>
        <div class="third-window"> 
        </div>
    </div>