@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
body {
    background: #333;
    font-family: 'Cedarville Cursive', cursive;
    color: #cecece;
    line-height: 20px;
    font-size: 15px
}

.container {
    width: 760px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    text-align: justify;
}

.container a {
    color: #aeaeae;  
}

.microscope {
    clip-path: circle(50%);
    width: 580px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
}

img {
    width: 85px;
    padding-right: 5px;
    float:left;
}

.left {
    width: 48%;
    float: left;
}

.left:before,
.right:before {
    content: "";
    width: 250px;
    height: 707px;
}

.left:before {
    float: right;
    shape-outside: polygon(1.57% 59.5%, 7.91% 43.88%, 24.42% 34.33%, 53.81% 25.42%, 99.38% 21.05%, 100.07% 93.04%, 55.84% 88.36%, 17.85% 77.33%);
}

.right {
    width: 49%;
    float: right;
}

.right::before {
    float: left;
    shape-outside: polygon(98.87% 55.67%, 89.89% 40.49%, 73.91% 33.63%, 42.53% 24.57%, -0.55% 21.18%, 0.21% 92.18%, 50.78% 87.79%, 86.36% 74.36%)
}
