.container {
    display: grid;
    grid-template-columns: repeat(70, calc(700px / 70));
    width: 700px;
    height: 416px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -350px;
    margin-top: -208px;
}

.container:after {
    content: 'Photo by Pixabay from Pexels.com';
    color: antiquewhite;
    font-size: 0.9em;
    width: 160px;
    
}

.block {
    background: url('https://images.pexels.com/photos/8633/nature-tree-green-pine.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat;
    background-size: 700px 416px;
    height: 416px;
}

body {
    background: #161a06
}