<div class="container">
        <header>
            <h1>Dad<span>Jokes</span></h1>
            <form action="">
                <input type="text" placeholder="search for dad jokes">
            </form>
        </header>
        <main>
            <ul class="jokes">
            </ul>
            <button class="more">...</button>
        </main>
    </div>