@import url('https://fonts.googleapis.com/css?family=Barriecito|Nunito+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background: var(--background-main);
    width: 100vw;
    height: 100vh;
    color: #333;
    font-family: 'Nunito Sans', sans-serif;
    --menu-item-size: 40px;
    --container-width: 600px;
    --background-main: #d5d5d9;
    --dark-color: #2f363f;
    --blue-color: #8ebdcf
}


.container {
    background: #fff;
    width: var(--container-width);
    height: 450px;
    margin-left: -325px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
    position: absolute;
}

header {
    background: var(--blue-color);
    padding: 10px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between
}

header input {
    color: #333;
    border-radius: 15px;
    border: 1px solid var(--blue-color);
    padding: 10px 5px;
    font-size: 12px;
    width: 0px;
    transition: 0.5s linear all;
    cursor: pointer
}

form:hover > input,
header input:hover,
header input:focus {
    width: 200px;
    font-size: 16px;
    outline: none;
    padding: 10px 15px;
}

header form:before {
    content: "❮";
    position: relative;
    top: 2px;
    color: #fff;
    font-weight: 700;
    right: -8px;
}

h1 {
    font-family: 'Barriecito', cursive;
    margin: 0 20px;
    color: var(--dark-color)  
}

h1 span { 
    color: #fff;
}

ul {
    list-style: none;
    font-size: 13px;
    margin: 1em 1em 1em 1.5em;
    padding: 0;
    max-height: 330px;
    overflow: hidden;
}

ul li {
    padding: 0.9em;
    margin-bottom: 0.9em;
    background: #f1f1f1;
    width: 90%;
    border-left: 2px solid var(--dark-color);
    animation: show 0.5s linear;
    animation-fill-mode: forwards;
    text-align: left
}

ul li:nth-child(even) {
    margin-left: 5%;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    text-align: center
}

button {
    background: var(--blue-color);
    color: #fff;
    outline: none;
    width: 40px;
    font-size: 1.2em;
    cursor: pointer;
    border: 1px solid var(--blue-color);
    transition: all 0.4s linear;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 20px);
}

button:hover {
    color: var(--blue-color); 
}

button:active {
    background: #fff;
    color: var(--blue-color);  
}