@import url('https://fonts.googleapis.com/css?family=Radley');
@import url('https://fonts.googleapis.com/css?family=Ultra');

* {
    padding: 0;
    margin: 0;
    font-family: 'Radley', serif;
}

body {
    --dark-color: #393027;
    --vintage-color: #efd1a5;
    background: var(--dark-color);
    color:var(--dark-color);
}
header {
    font-family: 'Ultra', serif;
    font-size: 2em;
    text-align: center;
    letter-spacing: 8px;
    text-shadow: 1px 1px 0px var(--vintage-color), 3px 3px 0px var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}

.container { 
    width: 700px;
    margin: 0 auto;
    border: 1px solid;
    background: var(--vintage-color);
    padding: 0 5px;
    height: 900px
}

nav {
    border-bottom: 3px solid var(--dark-color);
    display: flex;
    justify-content: space-around;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8em;
    transition: all 0.3s;
    color: var(--dark-color)
}

nav a:hover {
    background: var(--dark-color);
    color: var(--vintage-color);
}

nav p {
    float: right;
    padding: 0px 10px;
    margin: 3px;
    border-right: 2px solid var(--dark-color);
}

nav p:last-child {
    border-right: none;
}

.content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 640px auto;
    width: 100%;
    border-right: 2px solid var(--dark-color);
    border-left: 2px solid var(--dark-color);
    border-bottom: 2px solid var(--dark-color);
    box-sizing: border-box;
}

.book {
    border-right: 2px solid var(--dark-color);
    position: relative;
    margin: 10px
}

.book::after,
.award::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 140px;
    border-bottom: 2px solid var(--dark-color);
}

.title {
    font-size: 1em;
    font-family: 'Ultra';
}

.book p {
    font-size: 0.75em;
}

.book-icon {
    background: repeating-linear-gradient(-45deg, var(--vintage-color),  var(--vintage-color) 2px,var(--dark-color) 2px, var(--dark-color) 4px);
    border: 2px solid var(--dark-color);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    margin: 5px 20px;
}

.book-icon img {
    width: 60px;
}

.award {
    margin: 10px;
    font-size: 0.9em;
    border-left: 2px solid var(--dark-color);
    padding-left: 5px; 
    position: relative;
}

.award .book-icon {
    margin: 0;
}

.award .title {
    font-size: 1.2em;
}

.invert {
    color: var(--vintage-color);
    background: var(--dark-color);
    padding: 20px 15px;
    border-radius: 7px; 
    margin-top: 20px
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: repeating-linear-gradient(-45deg, var(--vintage-color),  var(--vintage-color) 2px,var(--dark-color) 2px, var(--dark-color) 4px);
    border: 2px solid var(--dark-color);
    margin: 5px 20px;
}

.photo img {
    filter: sepia(50%);
    width: 15em;
    padding: 5px;
}

.bio {
    font-size: 0.8em;
    position: relative;
}

.bio .title {
    font-size: 1.4em;
    text-align: center  
}

.about {
    columns: 10em;
}

.about p {
    text-indent: 20px;
    padding-top: 20px;
}

.bio::after {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 350px;
    border-bottom: 2px solid var(--dark-color);
}

.quotes {
    columns: 13em;
    font-size: 0.8em;
    width: 700px;
}

.quotes p {
    padding: 10px 10px 10px 0;
    margin: 0 5px;
}

.quotes .title {
    font-size: 1.3em;
    text-align: center;
}

.quotes .invert {
    margin: 0 10px
}