 <div class="container">
        <div class="frame">
            <svg
   width="500"
   height="500"
   viewBox="0 0 105.83333 158.75">
    <ellipse class="chips"
        style="fill:#ffd42a;" cx="40" cy="10" rx="1.3229165" ry="2" />
    <ellipse class="chips"
        style="fill:#ffd42a;" cx="48" cy="15" rx="1.3229165" ry="2" />
    <ellipse class="chips"
        style="fill:#ffd42a;" cx="56" cy="20" rx="1.3229165" ry="2" />
    <ellipse class="chips"
        style="fill:#ffd42a;" cx="62" cy="10" rx="1.3229165" ry="2" />
    <ellipse class="chips"
        style="fill:#ffd42a;" cx="68" cy="10" rx="1.3229165" ry="2" />
    <ellipse class="chips"
        style="fill:#ffd42a;" cx="70" cy="20" rx="1.3229165" ry="2" />
  <g transform="translate(0,-138.24998)">
    <g transform="translate(-1.0016047e-7,6.6145833)">
      <g>
        <path
           style="opacity:1;fill:#cccccc;fill-opacity:1;stroke:none"
           d="M 164.34043,578.28617 C 88.7921,574.66684 43.693436,562.82632 13.575167,538.70321 c -7.8168722,-6.2609 -17.2817056,-16.50144 -24.158658,-26.13862 -4.689763,-6.57212 -17.909106,-29.46184 -17.342258,-30.02869 0.123671,-0.12367 7.46641,1.92033 16.317199,4.54223 8.8507891,2.62189 19.9561774,5.85228 24.678641,7.17865 7.425769,2.08564 16.471052,5.68452 66.922606,26.62679 32.084973,13.31836 49.499093,23.84517 50.007303,24.11644 0.76509,0.40837 50.2219,32.05296 51.74031,33.40832 0.55226,0.49296 -5.43804,0.4509 -17.39988,-0.12216 z"
           transform="matrix(0.26458333,0,0,0.26458333,0,138.24998)" />
        <path
           style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;"
           d="m -7.9375,265.46218 c 4.8564072,9.18968 9.7127815,18.3793 27.109623,22.88239 17.396842,4.50309 51.203002,4.29581 66.751538,0.26679 15.548539,-4.02901 22.071019,-14.27111 27.847169,-23.34125 -9.78747,3.52107 -19.543824,7.03094 -34.369262,8.72425 -14.825437,1.6933 -40.265686,1.50647 -51.194748,0.27909 -10.929062,-1.22737 -25.1329593,-5.49942 -36.14432,-8.81127 19.582225,-0.92302 39.164817,-1.84606 59.449527,-1.87806 20.284711,-0.032 41.271585,0.82699 62.258803,1.68599"/>
        <g
           transform="translate(21.166667,-2.6458367)">
          <path
             style="opacity:1;fill:#ecf2b2;fill-opacity:1;stroke:none;"
             d="m 14.552083,277.15623 c -7.92898,-0.46643 -14.30569,-1.53158 -23.916299,-3.99493 -6.793884,-1.74137 -16.560352,-4.60171 -16.430376,-4.81201 0.05611,-0.0908 2.12119,-0.24554 4.589076,-0.34391 2.467885,-0.0984 8.576288,-0.35207 13.574228,-0.56376 30.703551,-1.30052 56.368251,-1.19252 92.471491,0.3891 3.37889,0.14802 6.32554,0.27684 6.5481,0.28627 0.6256,0.0265 -5.78299,2.27933 -10.63027,3.7369 -10.24994,3.08216 -19.8727,4.64573 -32.79726,5.32914 -5.90602,0.31228 -27.94495,0.29461 -33.40869,-0.0268 z"/>
        </g>
        <g
           transform="translate(22.489584,-2.6458333)">
          <g
             transform="translate(-1.322917,43.656247)">
            <g
               transform="translate(-21.797967,-43.084831)">
              <path
               d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
                 style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path
                 d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
                 style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
            <g
               transform="matrix(0.84888049,0,0,-1,-15.033356,485.52079)">
              <path d="m 16.151201,261.28122 c -5.355785,0.90341 -10.7123062,1.80694 -10.7580118,2.68882 -0.045706,0.88187 5.2187388,1.74248 6.3071298,3.71581 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
                 style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path d="m 21.509684,259.20526 c -7.141945,1.59539 -14.2849765,3.19103 -15.2235868,4.41884 -0.9386102,1.22781 4.3258338,2.08842 5.4142248,4.06175 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
                 style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
            <path d="m 5.9252276,220.27082 c -1.3834633,-2.1834 -2.7670866,-4.36706 -2.0679421,-5.02841 0.6991445,-0.66135 3.4812256,0.19926 4.0564334,2.1726 0.5752077,1.97335 -1.0560623,5.06015 2.3263691,3.76805 3.382432,-1.29211 11.777052,-6.96243 14.686692,-7.48237 2.909639,-0.51994 0.333431,4.11112 -4.095346,4.24632 -4.428777,0.1352 -10.709891,-4.2258 -10.823058,-3.0445 -0.1131666,1.18131 6.670174,8.71398 6.975822,7.21027 0.305649,-1.50371 -5.699154,-12.86642 -3.368762,-12.42541 2.330393,0.44101 13.457144,12.68218 13.457187,15.62445 4.3e-5,2.94228 -13.028447,-2.79107 -13.311645,-3.50564 -0.283197,-0.71456 12.618916,2.94758 14.496382,2.59228 1.877465,-0.3553 -4.429594,-5.12916 -5.213665,-4.7583 -0.78407,0.37086 2.886983,6.15971 10.281507,4.66721 7.394525,-1.49249 24.334694,-10.65116 24.567737,-10.43068 0.233043,0.22048 -13.981935,8.59872 -15.962799,8.5987 -1.980865,-2e-5 10.191406,-9.94618 9.528399,-10.66307 -0.663008,-0.71688 -13.794518,6.59146 -14.677251,9.21632 -0.882733,2.62486 8.527503,1.00607 18.781212,-0.75782"
               style="fill:none;stroke:#ecf2b2;stroke-width:1.73106563;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path                d="m 5.9252308,220.27082 c -1.3834633,-2.1834 -2.7670865,-4.36706 -2.067942,-5.02841 0.6991446,-0.66135 3.4812254,0.19926 4.0564332,2.1726 0.5752077,1.97335 -1.0560623,5.06015 2.326369,3.76805 3.382432,-1.29211 11.777052,-6.96243 14.686692,-7.48237 2.90964,-0.51994 0.333432,4.11112 -4.095346,4.24632 -4.428777,0.1352 -10.709891,-4.2258 -10.823058,-3.0445 -0.1131667,1.18131 6.670173,8.71398 6.975822,7.21027 0.305648,-1.50371 -5.699154,-12.86642 -3.368762,-12.42541 2.330392,0.44101 13.457144,12.68218 13.457187,15.62445 4.3e-5,2.94228 -13.028448,-2.79107 -13.311645,-3.50564 -0.283197,-0.71456 12.618916,2.94758 14.496381,2.59228 1.877465,-0.3553 -4.429593,-5.12916 -5.213664,-4.7583 -0.784071,0.37086 2.886982,6.15971 10.281507,4.66721 7.394525,-1.49249 24.334691,-10.65116 24.567734,-10.43068 0.233043,0.22048 -13.981933,8.59872 -15.962798,8.5987 -1.980865,-2e-5 10.191406,-9.94618 9.528399,-10.66307 -0.663007,-0.71688 -13.794516,6.59146 -14.67725,9.21632 -0.882734,2.62486 8.527503,1.00607 18.78121,-0.75782"
               style="fill:none;stroke:#000000;stroke-width:0.19234061;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <g
               transform="matrix(0.36679724,0,0,-1,23.49052,488.16664)"
               >
              <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
                 style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
                 style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
            <g
               transform="matrix(0.39374205,0,0,1,23.333004,-52.916667)"
               >
              <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
                 style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
                 style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
            <g
               transform="matrix(0.39374208,0,0,-1,10.162461,474.93747)"
               >
              <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -23.530983,8.02317 2.571963,1.43173 27.573422,-2.21054 54.815862,-6.17929"
                 style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -24.137008,8.2618 1.965936,1.67035 25.939545,-1.56722 52.062033,-5.095"
                 style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <g
                 transform="matrix(0.58940424,0,0,1,75.423725,-4.5401683)"
                 >
                <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
                   style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                <path d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
                   style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              </g>
            </g>
            <g
               transform="matrix(0.28596285,0,0,-1,21.141347,477.5833)"
               >
              <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
                 style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
                 style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
            <g
               transform="matrix(0.25901805,0,0,-1,0.58987634,480.22914)"
               >
              <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
                 style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path                  d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
                 style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
          </g>
        </g>
        <g
           transform="matrix(0.50152121,0,0,1,44.96709,-2.6458367)"
           >
          <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
             style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
          <path              d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
             style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        </g>
        <g
           transform="matrix(0.24554561,0,0,1,33.195933,-1.32292)"
           >
          <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.773295,9.21629 -1.670349,2.62485 16.136407,1.00606 35.539184,-0.75783"
             style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
          <path              d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.773295,9.2163 -1.670351,2.62485 16.136405,1.00606 35.53918,-0.75783"
             style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        </g>
        <g
           transform="matrix(0.57187101,0.16725597,0.28071183,-0.9597921,-34.978892,499.93876)"
           >
          <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.906251,8.3681 -1.803306,1.77665 15.777837,-1.28064 34.93485,-4.61197"
             style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
          <path d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -28.589154,8.32826 -2.486209,1.7368 13.936741,-1.38807 31.831754,-4.79304"
             style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        </g>
        <g
           transform="matrix(-0.57222363,0.18173307,-0.10575294,-0.98334814,92.191561,507.48278)"
           >
          <path d="m 7.9375,270.54165 c -2.617885,-2.1834 -5.2358938,-4.36691 -3.9129551,-5.02832 1.3229387,-0.66142 6.5873831,0.19919 7.6757741,2.17252 1.08839,1.97334 -1.9984112,5.06014 4.402013,3.76805 6.400425,-1.29208 22.285305,-6.9624 27.791172,-7.48236 5.505866,-0.51995 0.630985,4.11111 -7.749349,4.24634 -8.380335,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578338,-1.50369 -10.784366,-12.8664 -6.374605,-12.4254 4.409762,0.44099 25.464572,12.68216 25.464626,15.62439 5.4e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878361,2.94757 27.431081,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.865619,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455224,4.66718 13.992295,-1.49255 46.047653,-10.65123 46.488633,-10.43074 0.44098,0.22048 -26.457585,8.59872 -30.205907,8.59871 -3.748322,-2e-5 19.284893,-9.94619 18.030298,-10.66307 -1.254596,-0.71689 -26.102946,6.59144 -27.686479,8.74698 -1.583534,2.15554 16.370145,-0.25915 35.933198,-2.89029"
             style="fill:none;stroke:#ecf2b2;stroke-width:2.3812499;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
          <path d="m 7.9375034,270.54165 c -2.617885,-2.1834 -5.235894,-4.36691 -3.9129552,-5.02832 1.3229388,-0.66142 6.5873828,0.19919 7.6757738,2.17252 1.08839,1.97334 -1.998411,5.06014 4.402014,3.76805 6.400424,-1.29208 22.285304,-6.9624 27.791171,-7.48236 5.505867,-0.51995 0.630986,4.11111 -7.749349,4.24634 -8.380334,0.13524 -20.265893,-4.22577 -20.480032,-3.04444 -0.214139,1.18133 12.621768,8.714 13.200107,7.2103 0.578339,-1.50369 -10.784366,-12.8664 -6.374604,-12.4254 4.409762,0.44099 25.464571,12.68216 25.464625,15.62439 5.5e-5,2.94224 -24.653358,-2.79112 -25.18927,-3.50569 -0.535911,-0.71457 23.878362,2.94757 27.431082,2.5923 3.55272,-0.35526 -8.38193,-5.12912 -9.86562,-4.75823 -1.483689,0.37089 5.462929,6.15973 19.455225,4.66718 13.992296,-1.49255 46.047649,-10.65122 46.488629,-10.43074 0.44098,0.22048 -26.45758,8.59873 -30.205903,8.59871 -3.748323,-2e-5 19.284893,-9.94619 18.030298,-10.66308 -1.254595,-0.71688 -26.102945,6.59145 -27.68648,8.74699 -1.583535,2.15554 16.370143,-0.25915 35.933195,-2.89029"
             style="fill:none;stroke:#000000;stroke-width:0.26458332;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        </g>
      </g>
      <path
         transform="matrix(0.26458333,0,0,0.26458333,0,138.24998)" style="opacity:1;fill:#e6e6e6;fill-opacity:1;stroke:none;stroke-width:0.50587165;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
         d="M 180.511,579.52064 C 163.09303,563.73544 130.54616,545.99709 111.07332,535.45357 100.511,529.52064 70.511,519.52064 53.912139,511.5779 c -7.200932,-3.44572 -82.189312,-29.21084 -81.803329,-29.21084 0.157543,0 7.506364,2.15158 16.330713,4.7813 50.850739,15.15383 86.908735,23.77085 114.029067,27.25028 43.01998,5.51929 142.53888,5.38583 194.7069,-0.26111 41.37706,-4.47888 73.23226,-12.11788 121.64787,-29.17165 6.1637,-2.17108 8.67664,-2.86089 8.47113,-2.32535 -0.56675,1.47694 -12.62137,19.25492 -17.46487,25.75696 -24.31951,32.64711 -51.24503,50.82366 -88.65729,59.84966 -21.25668,5.12834 -48.38283,8.3519 -84.85853,10.08422 -9.2856,0.441 -48.23291,1.58571 -55.8028,1.18927 z"           />
    </g>
    <g class="grater">
        <!-- 
              transform="matrix(0.49,-0.51,0.55,0.50,-66.56,115.65)"
         -->
      <rect
         ry="1.7809784"
         y="117.08331"
         x="55.5625"
         height="66.145836"
         width="46.302086" style="fill:#b3b3b3;fill-opacity:1;" />
      <path d="m 64.822917,143.54165 c -0.01501,1.46119 -1.264096,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.63351,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 85.989583,143.54165 c -0.01501,1.46119 -1.264096,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.63351,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 97.895833,143.54165 c -0.01501,1.46119 -1.264095,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.63351,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 75.40625,143.54165 c -0.01501,1.46119 -1.264095,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.63351,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 64.822913,158.09373 c -0.01501,1.46119 -1.264096,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.63351,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 85.989583,158.09373 c -0.015,1.46119 -1.264099,1.22975 -2.725285,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.633512,1.21171 2.618502,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 97.895833,158.09373 c -0.015,1.46119 -1.2641,1.22975 -2.72529,1.21473 -1.46117,-0.015 -2.58113,0.19207 -2.5661,-1.26912 0.015,-1.46118 1.2117,-2.63351 2.67289,-2.6185 1.46116,0.015 2.63351,1.21171 2.6185,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 75.406247,158.09373 c -0.01501,1.46119 -1.264095,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672885,-2.6185 1.461167,0.015 2.633511,1.21171 2.6185,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 64.822916,172.64581 c -0.01501,1.46119 -1.264095,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.63351,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 85.989583,172.64581 c -0.01501,1.46119 -1.264096,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672886,-2.6185 1.461167,0.015 2.633509,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 97.895833,172.64581 c -0.015,1.46119 -1.264094,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566104,-1.26912 0.01503,-1.46118 1.211704,-2.63351 2.672887,-2.6185 1.461167,0.015 2.633509,1.21171 2.618499,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
      <path d="m 75.40625,172.64581 c -0.01501,1.46119 -1.264095,1.22975 -2.725282,1.21473 -1.461175,-0.015 -2.58113,0.19207 -2.566103,-1.26912 0.01502,-1.46118 1.211704,-2.63351 2.672885,-2.6185 1.461167,0.015 2.633511,1.21171 2.6185,2.67289 z"
         style="opacity:1;fill:#333333;fill-opacity:1" />
    </g>
     
    <g transform="rotate(129.33778,27.847682,176.61861)" >
      <g class="cheese">
        <path
           style="fill:#ffdd55;stroke:#000000;stroke-width:0.26458332px;"
           d="m 34.395833,196.45831 c -3.616868,0.6637 -7.233432,1.32734 -10.80155,1.32739 -3.568119,4e-5 -7.0876,-0.66369 -10.606874,-1.32739 0,0 10.825091,-34.39583 10.825091,-34.39583 0,0 9.17086,29.8053 9.17086,29.8053 0,0 1.412473,4.59053 1.412473,4.59053 0,0 1.322917,-3.96875 1.322917,-3.96875 0,0 -11.90625,-30.42708 -11.90625,-30.42708"             />
        <g
           >
          <circle
             r="1.3229166"
             cy="173.5544"
             cx="23.8125" style="opacity:1;fill:#d4aa00;fill-opacity:1" />
          <circle
             r="1.3229166"
             cy="185.80849"
             cx="28.209017" style="opacity:1;fill:#d4aa00;fill-opacity:1" />
          <circle
             r="1.3229166"
             cy="192.46335"
             cx="29.69243" style="opacity:1;fill:#d4aa00;fill-opacity:1" />
          <circle
             r="1.3229166"
             cy="179.62102"
             cx="25.242191" style="opacity:1;fill:#d4aa00;fill-opacity:1" />
          <circle
             r="1.3229166"
             cy="184.44528"
             cx="19.950523" style="opacity:1;fill:#d4aa00;fill-opacity:1" />
          <circle
             r="1.3229166"
             cy="193.07782"
             cx="17.171055" style="opacity:1;fill:#d4aa00;fill-opacity:1" />
          <circle
             r="1.3229166"
             cy="189.93706"
             cx="24.013288" style="opacity:1;fill:#d4aa00;fill-opacity:1" />
        </g>
        <path
           transform="matrix(-0.16771699,-0.20463468,0.20463468,-0.16771699,15.824919,222.47816)" d="m 90.02365,145.61778 -49.635296,-16.10674 -3.608183,-5.71429 c -1.984501,-3.14286 -3.580526,-5.7422 -3.546722,-5.77631 0.05963,-0.0602 106.156231,43.25654 106.693351,43.56036 0.2381,0.13469 0.2381,0.15109 0,0.14762 -0.14732,-0.002 -22.60374,-7.25194 -49.90315,-16.11064 z"
           style="opacity:1;fill:#d4aa00;fill-opacity:1;stroke:none;stroke-width:0.17857143;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
      </g>
      
      <path class="fume"
        style="fill:none;stroke:#999;stroke-width:0.3px"
        d="m 38.925233,131.70554 c 1.903717,-1.8512 4.076828,-3.96436 4.920397,-5.02534 0.843568,-1.06097 0.908756,-1.71849 1.462162,-2.17216 0.553406,-0.45368 1.583601,-0.68722 2.227434,-0.49088 0.643834,0.19633 1.268637,0.95867 2.232721,1.05442 0.964084,0.0958 2.109972,-0.34188 3.075102,-1.44502 0.965131,-1.10314 1.44855,-2.6614 1.607596,-3.87446 0.159045,-1.21306 0.02305,-2.4823 0.869234,-3.17313 0.846179,-0.69082 2.663023,-0.91746 4.479506,-1.14405"/>
      <path class="fume fume-two"
        style="fill:none;stroke:#999;stroke-width:0.3px"
        d="m 34.463363,138.78339 c 2.046347,-1.67717 3.950733,-3.23799 5.558843,-4.25126 1.608111,-1.01327 2.67717,-1.25562 3.185536,-1.20537 0.508366,0.0503 0.827653,0.43982 1.638998,0.5168 0.811345,0.077 2.102737,-0.11739 2.941915,-0.85603 0.839178,-0.73864 1.265484,-1.95413 1.33099,-2.66333 0.06551,-0.7092 -0.276667,-1.12669 -0.370147,-1.53932 -0.09348,-0.41263 -0.02829,-1.07015 0.525116,-1.52382 0.553404,-0.45367 1.583591,-0.68721 2.227429,-0.49088 0.643838,0.19633 1.268645,0.95867 2.232725,1.05442 0.96408,0.0958 2.109974,-0.34188 3.075105,-1.44502 0.965131,-1.10314 1.448548,-2.6614 1.607593,-3.87446 0.159045,-1.21306 0.02305,-2.4823 0.869237,-3.17313 0.846183,-0.69083 2.663027,-0.91746 4.479512,-1.14405" />
      
    </g>

  </g>
</svg>
        </div>
    </div>