body {
    margin: 0;
    padding: 0
}

.container {
    background: #222;
    width: 100%;
    height: 100vh;
}

.frame {
    height: 500px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    background: radial-gradient(at top, #444, #222)
}

.fume {
    stroke-dasharray: 200;
    stroke-dashoffset: -200;
    animation-iteration-count: 4;
    animation: fume 5s infinite linear;
}

.fume-two {
    animation-delay: 1s
}

@keyframes fume {
    0% {
        stroke-dashoffset: -200;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 200;
    }
}

.cheese {
   animation: cheese 2s linear 2 forwards, away-cheese 1s linear 4s forwards;
   transform: translateY(35px) translateX(-30px);
}

@keyframes cheese {
    0% {
        transform: translateY(30px) translateX(-30px)
    }

    100% {
        transform: translateY(-20px) translateX(-32px)
    }
}

.chips {
    animation: chips 2s linear forwards;
    animation-delay: 1s;
    animation-iteration-count: 2;
}

@keyframes chips {
    0% {
        transform: translateY(0)
    }

    80% {
        transform: translateY(100px);
        opacity: 1;
    }
    90% {
        transform: translateY(100px);
    }
    100% {
        opacity: 0;
        transform: translateY(100px)
    }
}

.grater {
    transform: rotate(-37deg) translateY(29px) translateX(-110px) scale(0.8);
    animation: away-grater 1s linear 4s forwards
}

@keyframes away-grater {
    to {
        transform: rotate(-37deg) translateY(-39px) translateX(-120px) scale(0.8);
    }
}

@keyframes away-cheese {
    to {
        transform: translateY(90px) translateX(-90px)
    }
}