<div class="container">
        <article class="big-panel">
            <div class="div-img">
                <img src="" alt="">  
            </div>
            
            <div class="info">
                <h1>Dessert</h1>
                <p>
                   Dessert (/dɪˈzɜːrt/) is a course that concludes a meal. The course usually consists of sweet foods, 
                    such as confections dishes or fruit, and possibly a beverage such as dessert wine or liqueur, however 
                    in the United States it may include coffee, cheeses, nuts, or other savory items regarded as a separate 
                    course elsewhere. In some parts of the world, such as much of central and western Africa, and most parts
                    of China, there is no tradition of a dessert course to conclude a meal.                    
                </p>
                <p>
                    The term dessert can apply to many confections, such as biscuits, cakes, cookies, custards, gelatins, 
                    ice creams, pastries, pies, puddings, and sweet soups, and tarts. Fruit is also commonly found in dessert 
                    courses because of its naturally occurring sweetness. Some cultures sweeten foods that are more commonly 
                    savory to create desserts.                    
                </p>
                <div class="close">&#10006;</div>
            </div>
        </article>
        <div class="grid">            
            <div class="item">
                <img src="https://images.pexels.com/photos/2482188/pexels-photo-2482188.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="item">
                <img src="https://images.pexels.com/photos/2267871/pexels-photo-2267871.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
            </div>
            <div class="item">
                
                <img src="https://images.pexels.com/photos/2267869/pexels-photo-2267869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="item">
                <img src="https://images.pexels.com/photos/998238/pexels-photo-998238.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="item">
                <img src="https://images.pexels.com/photos/2373520/pexels-photo-2373520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="item">
                <img src="https://images.pexels.com/photos/2161643/pexels-photo-2161643.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="item">
                <img src="https://images.pexels.com/photos/2291070/pexels-photo-2291070.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
            <div class="item">
                <img src="https://images.pexels.com/photos/2491288/pexels-photo-2491288.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>

            <div class="item">
                <img src="https://images.pexels.com/photos/2147864/pexels-photo-2147864.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
        </div>

    </div>