    <div class="modal">Click for start</div>
    <div class="container">
        <div class="toolbar">
            <div class="timer">00:30</div>
            <div class="total">Total: 0</div>
            <div class="score">Correct: 0</div>
            <div class="fail">Wrong: 0</div>
        </div>
        <div class="game-line"></div>
        <div class="status">
            pick all knives
        </div>
    </div>