@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro');

* {
 margin: 0;
 padding: 0;
 background: #f9f3e3;
 font-family: 'Press Start 2P', cursive;
 color: #333;
}

.container {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -250px;
    display: grid;
    grid-template-rows: 2em 1fr 2fr 1fr 4em;
    overflow: hidden;

    --console-color: #fffdfa;
    --brown: #623812;
    --dark: #191417;
}

.header {
    padding-top: 15px;
    font-size: 1em;
}

a {
    transition: 0.3s linear;
}

a:hover {
    background: var(--dark);
    color: #f9f3e3;
}

.purpose {
    padding-left: 1em;
    font-family: 'Source Code Pro', monospace;
}

.digit-list {
    border-bottom: 2px solid var(--brown);
    display: flex;
    align-items: flex-start;
}

.digit {
    align-items: center;
    background: #9e8d86;
    border-bottom: 12px solid var(--brown);
    border-left: 12px solid #9e8d86;
    border-right: 12px solid var(--brown);
    border-top: 12px solid var(--brown);
    box-sizing: border-box;
    display: flex;
    font-size: 1.5em;
    color: var(--console-color);
    height: 80px;
    justify-content: center;
    position: relative;
    width: calc(500px / 6);
}

.digit:before {
    border: 2px solid var(--brown);
    content: "";
    height: 55px;
    left: 0;
    position: absolute;
}

.digit::after {
    content: "";
    height: 95px;
    border: 2px solid var(--brown);
    position: absolute;
    left: 30px;
    top: 67px;
}

.caret {
    width: 50px;
    height: 15px;
    background: #f8bcbe;
    border: 3px solid var(--brown);
    position: relative;
    transition: left 1s linear;
    left: -25px;
}

.status {
    background: var(--dark);
    color: var(--console-color);
    padding: 10px;
}

.status:before {
    content: '...'; 
}

.btn {
    width: 50px;
    height: 50px;
    background: var(--dark);
    color: var(--console-color);
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    transition: all 0.3s;
}

.reload {
    right: 0;
    top: 0;
}

.btn:hover {
    color: var(--dark);
    background: var(--console-color);
}