.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    margin-top: -200px;
    margin-left: -200px;
    border-top: 1px solid #CCC;
}

svg {
    height: 450px;
}

.cheese {
    animation: move-down 5s linear;
}

@keyframes move-down  {
    from {
        transform: translateY(-100px)
    }
    to {
       transform: translateY(0) 
    }
}

.nose {
   animation: sniff 1s linear; 
   animation-delay: 5s;
   transform-origin: 105px 90px;
}

@keyframes sniff {
    0%, 100% {
        transform: scale(1) rotateZ(0)
    }
    40% {
        transform: scale(1.1) rotateZ(-15deg)
    }
    80% {
        transform: scale(1.1) rotateZ(15deg)
    }
}