 <div class="container">
        <div class="additional">
            <span class="close">&#10006;</span>
            <div class="about"></div>
        </div>
        <div class="solar-system">
            <div class="sun circle"></div>
            <div class="mercury circle"></div>
            <div class="venus circle"></div>
            <div class="earth circle"></div>
            <div class="mars circle"></div>
            <div class="jupiter circle"></div>
            <div class="saturn circle"></div>
            <div class="uranus circle"></div>
            <div class="neptune circle"></div>
        </div>
        <div class="info">
            <div class="planet-info show-mercury" data-planet="mercury">
                <div class="mercury circle" data-planet="mercury"></div>
                <h2 data-planet="mercury">Mercury</h2>
                <p data-planet="mercury">
                    Mercury is the smallest and innermost planet in the Solar System. Its orbital 
                    period around the Sun of 87.97 days is the shortest of all the planets in the 
                    Solar System. It is named after the Roman deity Mercury, the messenger of the gods.
                </p>
            </div>
            <div class="planet-info" data-planet="venus">
                <div class="venus circle" data-planet="venus"></div>
                <h2 data-planet="venus">Venus</h2>
                <p data-planet="venus">
                    Venus is close in size to Earth and, like Earth, has a thick silicate mantle 
                    around an iron core, a substantial atmosphere, and evidence of internal geological 
                    activity. It is much drier than Earth, and its atmosphere is ninety times as dense. 
                </p>
            </div>
            <div class="planet-info" data-planet="earth">
                <div class="earth circle" data-planet="earth"></div>
                <h2 data-planet="earth">Earth</h2>
                <p data-planet="earth">
                    Earth is the largest and densest of the inner planets, the only one known to have 
                    current geological activity, and the only place where life is known to exist. 
                    Its liquid hydrosphere is unique among the terrestrial planets, and it is the 
                    only planet where plate tectonics has been observed.
                </p>
            </div>
            <div class="planet-info" data-planet="mars">
                <div class="mars circle" data-planet="mars"></div>
                <h2 data-planet="mars">Mars</h2>
                <p data-planet="mars">
                    Mars has an atmosphere of mostly carbon dioxide 
                    with a surface pressure of 6.1 millibars. Its surface, peppered with vast volcanoes, 
                    such as Olympus Mons, and rift valleys, such as Valles Marineris, shows geological 
                    activity that may have persisted until as recently as 2 million years ago.
                </p>
            </div>
            <div class="planet-info" data-planet="jupiter">
                <div class="jupiter circle" data-planet="jupiter"></div>
                <h2 data-planet="jupiter">Jupiter</h2>
                <p data-planet="jupiter">
                    Jupiter, at 318 M⊕, is 2.5 times the mass of all the other planets put together. It is 
                    composed largely of hydrogen and helium. Jupiter's strong internal heat creates semi-permanent 
                    features in its atmosphere, such as cloud bands and the Great Red Spot.
                </p>
            </div>
            <div class="planet-info" data-planet="saturn">
                <div class="saturn circle" data-planet="saturn"></div>
                <h2 data-planet="saturn">Saturn</h2>
                <p data-planet="saturn">
                    Saturn, distinguished by its extensive ring system, has several similarities to Jupiter, 
                    such as its atmospheric composition and magnetosphere. Although Saturn has 60% of Jupiter's 
                    volume, it is less than a third as massive.
                </p>
            </div>
            <div class="planet-info" data-planet="uranus">
                <div class="uranus circle" data-planet="uranus"></div>
                <h2 data-planet="uranus">Uranus</h2>
                <p data-planet="uranus">
                    Uranus, at 14 M⊕, is the lightest of the outer planets. Uniquely among the planets, it orbits 
                    the Sun on its side; its axial tilt is over ninety degrees to the ecliptic. It has a much colder 
                    core than the other giant planets and radiates very little heat into space.
                </p>
            </div>
            <div class="planet-info" data-planet="neptune">
                <div class="neptune circle" data-planet="neptune"></div>
                <h2 data-planet="neptune">Neptune</h2>
                <p data-planet="neptune">
                    Neptune is the eighth and farthest known planet from the Sun in the Solar System. 
                    In the Solar System, it is the fourth-largest planet by diameter, 
                    the third-most-massive planet, and the densest giant planet.
                </p>
            </div>
        </div>
    </div>