  <div class="container">
        <div class="guess">
            <span>Guess the winner</span>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
        <svg width="100%" height="100%" enable-background="new 0 0 120 120" viewBox="0 0 120 120">
            <path stroke="darkslateblue" id="first"
                d="M 10 10 V 90 H 20 V 100 H 10 V 110 H 70 V 90 H 90 V 110 H 110 V 90 H 100 V 80 H 60 V 100 H 50 V 80 H 40 V 100 H 30 V 80 H 20 V 60 H 30 V 70 H 60 V 60 H 90 V 70 H 110 V 60" />
            <circle cx="10" cy="10" r="1" fill="darkslateblue" />

            <circle cx="110" cy="60" r="2" fill="darkslateblue" />

            <path stroke="cadetblue" id="second"
                d="M 110 40 V 10 H 100 V 30 H 90 V 20 H 80 V 10 H 50 V 30 H 30 V 20 H 40 V 10 H 20 V 50 H 30 V 40 H 40 V 60 H 50 V 40 H 60 V30 H 80 V 40 H 70 V 50 H 90 V 40 H 100 V 50 H 110" />

            <circle cx="110" cy="40" r="1" fill="cadetblue" />
            <circle cx="110" cy="50" r="2" fill="cadetblue" />

            <circle cx="" cy="" r="2" fill="lightskyblue" class="second-circle">
                <animateMotion 
                    dur="4s" 
                    repeatCount="1" 
                    fill="freeze" 
                    begin="click" 
                    id="move-circle-light">
                    
                    <mpath xlink:href="#second"></mpath>
                </animateMotion>
            </circle>

            <circle cx="" cy="" r="2" fill="slateblue" class="first-circle">
                <animateMotion 
                    dur="4s" 
                    repeatCount="1" 
                    fill="freeze" 
                    begin="click" 
                    id="move-circle-dark">
                    
                    <mpath xlink:href="#first"></mpath>
                </animateMotion>
            </circle>
        </svg>
        <div class="status"></div>
    </div>