   <div class="container">
        <header class="container-header">
            <svg width="30" height="20">
                <line x1="2" y1="2" x2="28" y2="2" />
                <line x1="2" y1="10" x2="28" y2="10" />
                <line x1="2" y1="18" x2="28" y2="18" />
            </svg>
            <h1></h1>
        </header>
        <main>
            <nav>
                <ul>
                    <li class="menu-item pikachu-item">Pikachu</li>
                    <li class="menu-item charizard-item">Charizard</li>
                    <li class="menu-item dragonite-item">Dragonite</li>
                    <li class="menu-item blastoise-item">Blastoise</li>
                    <li class="menu-item meowth-item">Meowth</li>
                    <li class="menu-item scyther-item">Scyther</li>
                </ul>
            </nav>

            <section class="avatar">
                <div class="light">
                    <div class="pokemon-avatar"></div>
                </div>
            </section>

            <section>
                <section class="property base-experience">
                    <h3>Base experience</h3>
                    <p></p>
                </section>
                <section class="property order">
                    <h3>Order</h3>
                    <p></p>
                </section>
                <section class="property height">
                    <h3>Height, decimetres</h3>
                    <p></p>
                </section>
                <section class="property weight">
                    <h3>Weight, hectograms</h3>
                    <p></p>
                </section>
                <section class="property-list types">
                    <h3>Types</h3>
                    <ul></ul>
                </section>
                <section class="property-list abilities">
                    <h3>Abilities</h3>
                    <ul></ul>
                </section>
                <section class="property-list forms">
                        <h3>Forms</h3>
                        <ul></ul>
                    </section>
                <section class="property-list location">
                        <h3>Location area</h3>
                        <ul></ul>
                    </section>
                <section class="property-list held-items">
                    <h3>Held items</h3>
                    <ul></ul>
                </section>
            </section>
        </main>
    </div>