    <div class="container">
        <nav>
            <ul class="menu">
                <li class="current">
                    <div class="img" 
                         style="background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
                    </div>
                    <span>Nature</span>
                </li>
                <li>
                    <div class="img" 
                        style="background-image: url('https://images.pexels.com/photos/1533720/pexels-photo-1533720.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
                    </div>
                    <span>Ocean</span>
                </li>
                <li>
                    <div class="img" 
                        style="background-image: url('https://images.pexels.com/photos/70069/pexels-photo-70069.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')" >
                    </div>
                    <span>Birds</span>
                </li>
            </ul>
        </nav>
        <div class="gallery">
            <article class="current-gallery"></article>
        </div>
        <div class="detail"></div>
    </div>