    <div class="back nav-btn">❮</div>
    <div class="container">
        <div class="header">
            <div class="icon"></div>
            <h1 class="title"></h1>
        </div>
        <div class="info">
            <div class="first-column">
                <div class="crawl">
                </div>
                <div class="director">
                    <h3 class="subtitle">director</h3>
                    <p class="name"></p>
                </div>
                <div class="year">
                    <h3 class="subtitle">release date</h3>
                    <p class="name"></p>
                </div>
            </div>

            <div class="second-column">
                <div class="characters">
                    <h3 class="subtitle">characters</h3>
                    <ul></ul>
                </div>
                <div class="planets">
                    <h3 class="subtitle">planets</h3>
                    <ul></ul>
                </div>
                <div class="starships">
                    <h3 class="subtitle">starships</h3>
                    <ul></ul>
                </div>
                <div class="vehicles">
                    <h3 class="subtitle">vehicles</h3>
                    <ul></ul>
                </div>
                <div class="species">
                    <h3 class="subtitle">species</h3>
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="next nav-btn">❯</div>