    <div class="container">
        <div class="gameboard">
            <div class="orange"></div>
            <div class="blue"></div>
            <canvas width="480px" height="600px"></canvas>
        </div>
        <div class="info">
            <h1>Sort all blocks</h1>
            <p class="score">SCORE: ---</p>
            <hr />
            <p class="fail"></p>
            <hr />
            <p class="time"></p>
            <hr />
            <p class="status">Go!</p>
            <hr />
            <p>Keys:←/→</p>
        </div>
    </div>