@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background: #242d3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    margin: 0;
    
    --blue-color: #347cc5;
    --light-blue-color: #549ce5;
    --orange-color: #f2642c;
    --light-orange-color: #ff844c;
    --cell-size: 24px;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.gameboard {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.blue {
    background: var(--light-blue-color);
    border-right: 10px solid var(--blue-color);
    border-bottom: 10px solid var(--blue-color);
}

.orange {
    background: var(--light-orange-color);
    border-left: 10px solid var(--orange-color);
    border-bottom: 10px solid var(--orange-color);
}

canvas {
    position: absolute;
    z-index: 10;
}

.info {
    padding: 1em;
    font-size: 1em;
    color: #FFF;
}

h1 {
    padding: 1em 0;
}