    <div class="container">
        <header>
            <h1>Dot<span>Art</span></h1>
        <nav>
            <ul>
                <li class="circle btn active pencil"><i class="fas fa-pencil-alt"></i></li>
                <li class="circle btn eraser"><i class="fas fa-eraser"></i></li>
                <li class="circle btn save"><i class="fas fa-save"></i></li>
            </ul>
        </nav>
        </header>
        <div class="draw-area">
            <canvas width="100" height="100"></canvas>
        </div>
        <ul class="color-menu"></ul>
    </div>