@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 24px;
    height: 100vh;

    --container-width: 600px;
    --container-height: 500px;

    --dot-count: 10;
}

.container {
    width: var(--container-width);
    height: var(--container-height);
}

header {
  display: grid;
  grid-template-columns: 70% 30%
}

canvas {
    width: 100px;
    height: 100px;
    border: #292929 2px solid;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

h1 {
    color: #6bbdb1;
    font-size: 140%;
}

h1 span {
    color: #f5f5c1
}

ul {
    padding: 0;
    margin: 1em 0;
}

ul li {
    display: inline-block;
    cursor: pointer;
}
nav {
    --dot-size: 50px;
}

.btn {
    background: #292922;
    color: #69978d;
    text-align: center;
    line-height: var(--dot-size);
    transition: 0.3s all linear;
}


.btn:hover {
    background: #69978d;
    color: #333;
}

.btn.active,
.btn:active {
    background: #94d3a8;
    color: #333;
}

.draw-area {
    --dot-size: 30px;

    display: grid;
    grid-template-columns: repeat(var(--dot-count), var(--dot-size));
    padding: 1em 25%;
    border-bottom: 2px solid #292929;
    border-top: 2px solid #292929;
    position: relative;
}

.dot {
    background: #2b2b2b;
    cursor: pointer;
}

.color {
    --dot-size: 34px;
    margin: 1px;
    box-sizing: border-box;
}

.color.current,
.color:hover {
    border: 5px solid #333;
    box-shadow: 0 0 4px #ccc;
}

.circle {
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
}

.navy {
    background: #001f3f;
}

.blue {
    background: #0074D9;
}

.aqua {
    background: #7FDBFF;
}

.teal {
    background: #39CCCC;
}

.olive {
    background: #3D9970;
}

.green {
    background: #2ECC40 
}

.lime {
    background: #01FF70;
}

.yellow {
    background: #FFDC00;
}

.orange {
    background: #FF851B;
}

.red {
    background: #FF4136;
}

.maroon {
    background: #85144b;
}

.fuchsia {
    background: #F012BE;
}
.purple {
    background: #B10DC9;
}

.black {
    background: #000;
}

.gray {
    background: #AAA;
}

.silver {
    background: #DDD;
}