html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

svg {
    transform: scale(0.8) rotateZ(45deg);
    background: #f1ffd5;
    width: 700px;
    height: 700px;
}

path {
    animation-direction: alternate;
    animation: paint 6s infinite linear;
}

@keyframes paint {
	from {
		stroke-dasharray:  500;
	}
	to {
		stroke-dasharray:  0;
	}
}

line, path {
    stroke: #817727;
    stroke-width: 2;
}

.light {
    fill: #e3fea8;
}

.light-1 {
    fill: #c0ff01;
}

.light-2 {
    fill: #93e800;
}

.dark {
   fill: #598c00; 
}

.dark-1 {
    fill: #1e3000;
}
.triangle {
    transform-origin: center center; 
}

.gr-2 {
    transform: rotateZ(90deg);
}

.gr-4 {
    transform: rotateZ(180deg);
}

.gr-6 {
    transform: rotateZ(270deg);
}

.gr-1 {
    transform: rotateZ(0deg) rotateY(-180deg); 
}

.gr-3 {
    transform: rotateZ(-90deg) rotateY(-180deg); 
}

.gr-5 {
    transform: rotateZ(-180deg) rotateY(-180deg); 
}

.gr-7 {
    transform: rotateZ(-270deg) rotateY(-180deg); 
}

@keyframes move {
    0% {
        transform: scale(0.8) rotateZ(0);  
        border-radius: 50%;
    }
    50% {
        transform: scale(0.8) rotateZ(180deg);
        border-radius: 20%;
    }
    100% {
        transform: scale(0.8) rotateZ(360deg);
        border-radius: 50%;
    }
}

