body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    background: #171813;
    font-family: sans-serif;
}

body::after {
    content: 'Drag rectangle';
    font-size: 1.2em;
    color: lightgreen;
    position: absolute;
    right: 20px;
    top: 20px;
}

body::before {
    content: 'Photo from pexels.com';
    font-size: 1em;
    color: lightgreen;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.area {
    width: 100px;
    height: 50px;
    background: url('https://images.pexels.com/photos/68507/spring-flowers-flowers-collage-floral-68507.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: grab;
    transform: translate(-50%, -50%);
}

.area:active {
    cursor: grabbing;
}